<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>

    <main>
        <div class="container">
            <a class="go-back" href="../add-practice.html">Go Back</a>

            <div class="form-container">
                <form class="form js-create-form" autocomplete="off">

                    <label class="form-label">
                        ID
                        <input class="form-input" type="text" name="id" placeholder="ID" autofocus disabled required />
                    </label>

                    <label class="form-label">
                        Image
                        <input class="form-input" type="text" name="image" placeholder="URL" autofocus required />
                    </label>

                    <label class="form-label">
                        Brand
                        <input class="form-input" type="text" name="brand" placeholder="Audi" autofocus required />
                    </label>

                    <label class="form-label">
                        Model
                        <input class="form-input" type="text" name="model" placeholder="TT" autofocus required />
                    </label>

                    <label class="form-label">
                        Color
                        <input class="form-input" type="text" name="color" placeholder="White" autofocus required />
                    </label>

                    <button class="form-button" type="submit">Create</button>
                </form>

                <form class="form js-update-form" autocomplete="off">

                    <label class="form-label">
                        ID
                        <input class="form-input" type="text" name="id" placeholder="ID" autofocus required />
                    </label>

                    <label class="form-label">
                        Image
                        <input class="form-input" type="text" name="image" placeholder="URL" autofocus />
                    </label>

                    <label class="form-label">
                        Brand
                        <input class="form-input" type="text" name="brand" placeholder="Audi" autofocus />
                    </label>

                    <label class="form-label">
                        Model
                        <input class="form-input" type="text" name="model" placeholder="TT" autofocus />
                    </label>

                    <label class="form-label">
                        Color
                        <input class="form-input" type="text" name="color" placeholder="White" autofocus />
                    </label>

                    <button class="form-button" type="submit">Update</button>
                </form>

                <form class="form js-reset-form" autocomplete="off">

                    <label class="form-label">
                        ID
                        <input class="form-input" type="text" name="id" placeholder="ID" autofocus required />
                    </label>

                    <label class="form-label">
                        Image
                        <input class="form-input" type="text" name="image" placeholder="URL" autofocus required />
                    </label>

                    <label class="form-label">
                        Brand
                        <input class="form-input" type="text" name="brand" placeholder="Audi" autofocus required />
                    </label>

                    <label class="form-label">
                        Model
                        <input class="form-input" type="text" name="model" placeholder="TT" autofocus required />
                    </label>

                    <label class="form-label">
                        Color
                        <input class="form-input" type="text" name="color" placeholder="White" autofocus required />
                    </label>

                    <button class="form-button" type="submit">Reset</button>
                </form>

                <form class="form js-delete-form" autocomplete="off">

                    <label class="form-label">
                        ID
                        <input class="form-input" type="text" name="id" placeholder="ID" autofocus required />
                    </label>

                    <button class="form-button" type="submit">Delete</button>
                </form>
            </div>

            <ul class="car-main-container js-car-list-container"></ul>
        </div>

    </main>


    <script type="module" src="../js/cars/logic-cars.js" defer></script>
</body>

</html>