* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.hidden {
    display: none;
}

.go-back {
    color: darkblue;
    margin-bottom: 20px;
    display: block;
}

.go-back:hover,
.go-back:focus {
    text-decoration: underline;
}